<% include ./partials/header %>

  

    <h1>
      <%=title %>
    </h1>
    <p>Welcome to
      <%= title %>
    </p>
    <div class="alert alert-danger">
      <p>erro</p>
    </div>
  <% include ./partials/footer %>
  <!-- </div>
  </body>
  </html> -->